/* Body and Background */

body {font-family: 'Spartan', sans-serif;
font-size: 15px;
position: relative;}

.Top-Background-image, .Bottom-Background-image {position: absolute;}

.Bottom-Background-image {right: 0;
bottom: 0;}

h1, .rating-text {color: hsl(300, 43%, 22%);}

h1 {font-weight: 700;}

/* Containers and divs */

.container-fluid {padding: 15% 15% 2%;
color: white;
line-height: 1.8;}

.container-fluid-two {color: white;
padding: 0 15% 0 15%;
}

div {border-radius: 1.5%;}

/* Paragraph */

.paragraph-text {color: hsl(303, 10%, 53%);
padding-right: 200px;}

/* Rating and Stars */

.rating-text {margin: 5px 0;
background-color: hsl(300, 24%, 96%);
padding: 3%;
text-align: center;
font-weight: 700;}

.Star-image {float: left;
margin-right: 5px;}

.Reviews {margin-right: 150px;}

.Guru {margin-left: 75px;
margin-right: 75px;}

.BestTech {margin-left: 150px;}

/* Cards */

.card-box {background-color: hsl(300, 43%, 22%);
padding: 2%;
height: 100%;
margin-right: 19px;
width: 30%;
line-height: 1.7;
}

.Irene {margin-top: 3%;}

.Anne {margin-top: 6%;}

.Images {width: 10%;
border-radius: 50%;
float: left;}

.name-text {margin-left: 60px;
color: white;
font-weight: 700;}

/*Attribution */

.attribution {
        font-size: 11px;
        text-align: center;
        margin-top: 150px;
        }
.attribution a {
        color: hsl(228, 45%, 44%);
      }

/* Media */

@media (max-width:1080px) {

.paragraph-text {padding-right: 0px;
text-align: center;}

.rating {margin-top: 30px;
}
.rating-text {margin: 5px 0 5px;}

.card-box {padding: 8%;
width: 100%;}
.Anne {margin-top: 3%;}

.Images {width: 46px;}

.container-fluid-two {margin-top: 20px;}

.rating-text {display: flex;
flex-direction: column;}

.Stars {align-self: center;
margin-bottom: 5px;}
}
